story do
  name "Cyriaksring 21"
  author "Nico Grashoff"
  start :flur_1
end

verb "norden" do
  alone do
    if player.room.north
      player.move_to player.room.north
    else
      write "Es geht nicht nach Norden"
    end
  end
end

verb "osten" do
  alone do
    if player.room.east
      player.move_to player.room.east
    else
      write "Es geht nicht nach Osten"
    end
  end
end

verb "sueden" do
  alone do
    if player.room.south
      player.move_to player.room.south
    else
      write "Es geht nicht nach Sueden"
    end
  end
end

verb "westen" do
  alone do
    if player.room.west
      player.move_to player.room.west
    else
      write "Es geht nicht nach Westen"
    end
  end
end

verb "nimm" do
  alone do
    write "Nimm was?"
  end

  with :object do |object|
    object.take
  end
  
  with :object, "aus", :container do |object, container|
    container.take(object)
  end
end

verb "zaehle", "zaehl" do
  alone do
    write "Zaehle was?"
  end
  
  with :object do |object|
    object.count
  end
end

verb "oeffne" do
  alone do
    write "Oeffne was?"
  end
  
  with :object do |object|
    object.open
  end
end

verb "schaue" do
  alone do
    write player.room.description
  end
end

verb "hallo" do
  alone do
    write "Hallo zurueck"
  end
end

#type :container do
#  initial do
#    @objects.collect do |object|
#      object.initial
#    end
#  end
#
#  actions do
#    def take(object)
#    end
#  end
#end

#type :openable do
#  actions do
#    def open
#      @open = true
#    end
#    
#    def open?
#      @open
#    end
#    
#    def close
#      @open = false
#    end
#    
#    def closed?
#      !@open
#    end
#  end
#end

room(:flur_1, "Flur") do
  description "Du befindest dich am Anfang des Flurs."
  
  north_to :flur_2
  west_to :badezimmer
end

room :flur_2, "Flur" do
  description "Du befindest dich am Ende des Flurs."
  
  north_to :wohnzimmer
  south_to :flur_1
  west_to :kueche
  
  object :schluesselkasten, "Schluesselkasten" do
    names "Kasten"
    description "Ein hoelzerner Schluesselkasten"
    #initial "An der Wand haengt ein Schluesselkasten"
    
    is :container, :openable
    
    object :schluesselbund, "Schluesselbund" do
      names "Schluessel"
      description "Ein Schluesselbund mit zwei Schluesseln"
      #initial "Im Schluesselkasten befindet sich ein Schluesselbund"
      
      actions do
        def count
          write "Eins, zwei Schluessel"
        end
        
        def take
          write "Der Schluesselbund klimpert als du ihn aufhebst und in deine Tasche steckst."
          move_to player
        end
      end
    end
  end
end

room :badezimmer, "Badezimmer" do
  names "Bad"
  description "Du befindest dich in einem Badezimmer"
  
  east_to :flur_1
end

room :wohnzimmer, "Wohnzimmer" do
  description "Du befindest dich in einem Wohnzimmer"
  
  north_to :balkon
  east_to :schlafzimmer
  south_to :flur_2
end

room :balkon, "Balkon" do
  description "Du stehst auf einem Balkon"
  
  south_to :wohnzimmer
end

room :schlafzimmer, "Schlafzimmer" do
  description "Du befindest dich in einem Schlafzimmer"
  
  west_to :wohnzimmer
end

room :kueche, "Kueche" do
  description "Du befindest dich in einer Kueche"
  
  east_to :flur_2
end